body{
    font-family: monospace;
    font-weight: bold;
}

.workBtn{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    border: none;
    background: #4caf50;
    color: white;
    font-size: 25px;
    padding: 15px;
}

.balanceInfo{
    text-align: center;
}

.balanceInfo>p{
    color: grey;
}